.app {
  text-align: left;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: stretch;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

@media (max-width: 600px) {
  .app {
    min-height: 100vh;
  }
}

.main-page {
  flex: 1;
  width: 100%;
}
