.movie-card{
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    width: 230px;
    /* height: 60vh; */
    margin-top: 2rem;
    text-align: center;  
    display: flex;
    flex-direction: column;
}

.movie-card p, h3{
    color: white
}

.movie-card img{
    width: 100%;
    border-radius: 5px;
}