.movie-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

h2{
   color: aliceblue;
   font-weight: bold;
   font-size: 2rem;
}


.nav{
    display: flex;
    background-color: #282c34;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    justify-content: space-between;
    color:white;
    gap: 1rem

}

.nav-bottom{
    display: flex;
    justify-content: space-even;
    gap: 1rem;
    width: 100%;
    max-width: 900px;
    flex-wrap: wrap;
}

.header-section{
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
}


.search-section{
    display: flex;
    flex: 1;
}
.search-section input{
    flex: 1;
    padding: 0.5rem;
    border: 4px;
    border: 1px solid #ccc;
}

button{
    color:white;
    padding: 0.5rem 1rem;

}

button:hover{
    background-color: #666;
}

.load-more-btn{
    margin-top: 20px;
}